.user-card{
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.8rem;
}

.user-avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem;
}

.user-info{
  display: flex;
  flex-direction: column;
}